* {
    margin:0;
    padding:0;
    box-shadow: border-box;
    /* border: dashed 1px red; */
}

body {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

h1 {
    font-size: 50px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    margin: 15px;
}

.canvas {
    background-color: beige;
    width: 474px;
    height: 474px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.canvas-pixel {
    border: solid 1px rgb(215, 215, 215);
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}
